[Unit]
Description=VMware Tools
After=graphical.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/vmware-tools start
Execstop=/etc/init.d/vmware-tools stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
