[core]
	# no automatic conversion of any kind by default!
	autocrlf = false
	# LF line endings for the win!
	eol = lf
	excludesfile = ~/.gitignore_global
[user]
	name = Raymond W. Ko
	email = raymond.w.ko@gmail.com
[log]
[diff]
	renameLimit = 4096
[credential]
	helper = cache --timeout=28800
[pull]
	rebase = true

#[pager]
#	diff = diff-highlight | less
#	log = diff-highlight | less
#	show = diff-highlight | less

#[color]
#	diff = always
[color "diff"]
	frag = cyan
	old = black red
	new = black green
	commit = cyan
[color "status"]
	added = green
	changed = cyan
	untracked = normal

[alias]
	co = checkout
	br = branch
	cp = cherry-pick

	lg = log --graph --full-history --pretty=format:"%h%x09%ar%x09%d%x20%s"
	lga = log --graph --full-history --all --pretty=format:"%h%x09%ar%x09%d%x20%s"
	lg4 = log --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) - %C(bold green)%ai %C(yellow)%ar %C(reset) %C(reset)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lga4 = log --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) - %C(bold green)%ai %C(yellow)%ar %C(reset) %C(reset)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
	lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

	ri = "!sh -c 't=\"${1:-upstream/master}\"; s=\"${2:-HEAD}\"; mb=\"$(git merge-base \"$t\" \"$s\")\"; if test \"x$mb\" = x ; then o=\"$t\"; else lm=\"$(git log -n1 --merges \"$t..$s\" --pretty=%H)\"; if test \"x$lm\" = x ; then o=\"$mb\"; else o=\"$lm\"; fi; fi; test $# -gt 0 && shift; test $# -gt 0 && shift; git rebase --interactive \"$o\" \"$@\"'"

[include]
	path = ~/.gitconfig.lfs
[rebase]
	autoStash = true
[submodule]
	recurse = true
[init]
	defaultBranch = m
[commit]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
