# Linux RC
/.Xauthority
/.bash_history
/.cache
/.config/autostart
/.config/Trolltech.conf
/.config/chromium
/.config/gtk-2.0
/.config/guvcview
/.config/htop
/.config/pulse
/.config/vlc
/.dropbox
/.dropbox-dist
/.fltk
/.gem
/.ghc
/.gnupg
/.gstreamer-0.10
/.gtkrc-2.0
/.icons
/.lesshst
/.lftp
/.macromedia
/.monicarc
/.mozilla
/.mysql_history
/.pentadactyl
/.pki
/.purple
/.rtorrent
/.ssh
/.subversion/auth
/.thunderbird
/.viminfo
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi

# user data
/Downloads
/Dropbox
/Music
/P2P
/Wallpapers
/aur
/p2p
/tmp
/whatbox

# machine specific ln
.xinitrc.extra
.i3status.conf

## VIM
# compiled binaries
/vim
/.vim/.netrwhist
# symlinks created by dot_files_bootstrap.sh
/bin/ex
/bin/rview
/bin/rvim
/bin/vim
/bin/vimdiff
/bin/vimtutor
/bin/xxd
# plugin generated
yankring_history_v2.txt
# other
/.local

# src should come from repos and archives backed up on the Internet
/src

#work
/SVN
