[core]
	autocrlf = false
	eol = lf
	excludesfile = ~/.gitignore_global
[user]
	name = Raymond W. Ko
	email = raymond.w.ko@gmail.com
[color]
	diff = always
[push]
	default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
