[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".tmux/plugins/sensible"]
	path = .tmux/plugins/sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/copycat"]
	path = .tmux/plugins/copycat
	url = https://github.com/raymond-w-ko/tmux-copycat.git
[submodule "src/dircolors-solarized"]
	path = src/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "src/z"]
	path = src/bash-z
	url = https://github.com/rupa/z.git
[submodule "src/selenized"]
	path = src/selenized
	url = https://github.com/jan-warchol/selenized
[submodule "src/zsh-z"]
	path = src/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule ".tmux/plugins/dracula"]
	path = .tmux/plugins/dracula
	url = https://github.com/raymond-w-ko/dracula-tmux-petrel.git
[submodule "src/kitty-gruvbox-theme"]
	path = src/kitty-gruvbox-theme
	url = https://github.com/wdomitrz/kitty-gruvbox-theme.git
[submodule "src/tmux-gruvbox"]
	path = src/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox.git
[submodule "src/dtach"]
	path = src/dtach
	url = https://github.com/crigler/dtach.git
