*foreground:   #c5c8c6
*background:   #1d1f21
*cursorColor:  #aeafad
*color0:       #000000
*color1:       #912226
*color2:       #778900
*color3:       #ae7b00
*color4:       #1d2594
*color5:       #682a9b
*color6:       #2b6651
*color7:       #929593
*color8:       #666666
*color9:       #cc6666
*color10:      #b5bd68
*color11:      #f0c674
*color12:      #81a2be
*color13:      #b294bb
*color14:      #8abeb7
*color15:      #ecebec

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! General

!*font:         -lucy-Tewi-medium-R-Normal--11-90-75-75-P-58-ISO10646-1
*font:        -misc-fixed-medium-r-semicondensed-*-12-120-75-75-c-60-iso10646-1
Xcursor*theme: neutralplus-inv

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

XTerm*dynamicColors:      true
XTerm*locale:             true
XTerm*metaSendsEscape:    true
XTerm*font:               -misc-fixed-medium-r-semicondensed-*-12-120-75-75-c-60-iso10646-1
XTerm*faceSize:           8
XTerm*faceNameDoublesize: WenQuanYi Bitmap Song
XTerm*saveLines:          16384
! make Backspace generate ^? instead ^H, which seems to work better for most things
XTerm*backarrowKey:       false

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!#define fonts 
!#define fonts -lucy-tewi-medium-r-normal--11-90-75-75-p-58-iso10646-1
!#define fonts xft:MS Gothic:pixelsize=12
!#define fonts -*-proggyclean-*-*-*-*-13-*-*-*-*-*-*-*
#define fonts -misc-fixed-medium-r-semicondensed-*-12-120-75-75-c-60-iso10646-1

URxvt*font:           fonts
URxvt*boldFont:       fonts
URxvt*italicFont:     fonts
URxvt*bolditalicFont: fonts

URxvt*cursorBlink     : false
! true transparency for compositor
URxvt*depth           : 32
! this usually means use the desktop background as the background instead of a
! configured color for pseudo-transparency
URxvt*inheritPixmap   : false
URxvt*intensityStyles : true
URxvt*internalBorder  : 1
URxvt*loginShell      : true
URxvt*meta8           : false
URxvt*pointerBlank    : true
URxvt*saveLines       : 8192
URxvt*scrollBar       : false
URxvt*skipScroll      : true
URxvt*transparent     : false
URxvt*urgentOnBell    : true
URxvt*visualBell      : false
URxvt*iso14755        : false
URxvt*reverseVideo    : false
URxvt*cursorUnderline : true
URxvt*fading          : 0
