snippet prom "Promise"
return new Promise(function(resolve, reject) {
	$0
});
endsnippet

snippet c=>
const ${1:function_name} = (${2}) => {
	${0:${VISUAL}}
};
endsnippet

snippet caf
const ${1:function_name} = (${2}) => {
	${0:${VISUAL}}
};
endsnippet

snippet =>
(${1}) => {
	${0:${VISUAL}}
};
endsnippet
